<div class="container-fluid bg-primary mt-5 p-3 text-white text-center">
    <p>{{ 'app.blog_title'|trans }}</p>
    <p>{{ 'app.footer.read_terms'|trans }} <a href="{{ path('app_static_terms') }}"
                                              class="link-light">{{ 'app.terms'|trans }}</a></p>
</div>
