<div class="container-fluid bg-primary mt-5 p-3 text-white text-center">
    <p>{{ 'PrepaCertif Blog'|trans }}</p>
    <p>{{ "Read our"|trans }} <a href="{{ path('app_static_terms') }}" class="link-light">{{ "Terms and conditions"|trans }}</a></p>
</div>
