$primary: #256d94;
$dark: #004266;
$light: #b4e1ec;
$info: #56b4a8;
$success: #23c47e;
$warning: #FFC300;
$danger: #c42e23;
$secondary: #c42369;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
}
